<ion-view ng-controller="mainCtrl as vm">
<ion-header-bar class="bar-balanced" ng-init="vm.checkUser()">
    <button class="button button-icon icon ion-navicon-round" ng-click="vm.toggleMenu()"></button> 
    <div class="h1 title">Subempresas de {{vm.company.name}}</div>
    <button class="button button-clear button-light" ng-click="vm.openNewCompanyModal()" ng-if="!vm.isSalePoint()">Crear Empresa</button>
</ion-header-bar>
<ion-content class="main has-header">
    <div class="list">
            <label class="item item-input" ng-show="vm.subcompanies.length > 0">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar" ng-model="search.$">
            </label>
            <div ng-repeat="company in vm.subcompanies | filter:search:strict track by $index">
                <div class="item item-button-right" ng-click="vm.toggleShowAdmin(company)">
                        {{company.name}} 
                        <div class="buttons" ng-show="vm.user.id !== user.id">
                            <button class="button button-small button-clear button-balanced" ng-click="vm.openNewSuperAdminModal(company.id)" ng-hide="vm.checkSuperAdmin(company)">
                                <i class="icon icon ion-person-add"></i>
                            </button>
                            <button class="button button-small button-clear button-balanced" ng-click="vm.openEditCompanyModal(company)">
                                <i class="icon icon ion-edit"></i>
                            </button>
                            <button class="button button-small button-clear button-assertive" ng-click="vm.deleteCompany(company.id)">
                                <i class="icon icon ion-close"></i>
                            </button>
                        </div>
                </div>
                <div class="item item-divider item-button-right" ng-show="vm.checkSuperAdmin(company) && company.showAdmin"> 
                    <span>Administrador: {{company.superadmin.name + ' ' + company.superadmin.lastname}}</span>
                    <div class="buttons">
                            <button class="button button-small button-clear button-balanced" ng-click="vm.openSuperAdminPasswordModal(company.superadmin)">
                                <i class="icon icon ion-locked"></i>
                            </button>
                            <button class="button button-small button-clear button-balanced"  ng-click="vm.openEditSuperAdminModal(company.superadmin)">
                                <i class="icon icon ion-edit"></i>
                            </button>
                            <button class="button button-small button-clear button-assertive" ng-click="vm.deleteSuperAdmin(company.superadmin.id)">
                                <i class="icon icon ion-close"></i>
                            </button>
                    </div>
                </div>
                <div class="item item-divider" ng-show="!vm.checkSuperAdmin(company) && company.showAdmin"> <span>No se ha asignado aun un administrador</span></div>
            </div>
            <div class="item" ng-show="vm.subcompanies.length === 0">No se ha creado ninguna empresa</div>
     </div>
</ion-content>
</ion-view>