<ion-view ng-controller="usersCtrl as vm">
<ion-header-bar class="bar-balanced" ng-init="vm.checkUser()">
    <button class="button button-icon icon ion-navicon-round" ng-click="vm.toggleMenu()"></button> 
    <div class="h1 title">Usuarios de {{vm.company.name}}</div>
    <button class="button button-clear button-light" ng-click="vm.openNewUserModal()" ng-show="!vm.isQuery()">Crear Usuario</button>
    <!--<button class="button button-icon icon ion-person-add" ng-click="vm.openNewUserModal()"></button>-->
</ion-header-bar>
<ion-content class="main has-header">
    <div class="list">
        <label class="item item-input" ng-show="vm.companyUsers.length > 1">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Buscar" ng-model="search.$">
        </label>
        <div ng-repeat="user in vm.companyUsers | filter:search:strict track by $index" ng-hide="vm.isCurrentUser(user)">
            <div class="item item-button-right" ng-click="vm.toggleDetails(user)">
                    {{user.name+' '+user.lastname}} 
                    <div class="buttons" ng-show="vm.userCanModify(user)">
                        <button class="button button-small button-clear button-balanced" ng-click="vm.openPasswordModal(user)">
                            <i class="icon icon ion-locked"></i>
                        </button>
                        <button class="button button-small button-clear button-balanced" ng-click="vm.openEditUserModal(user)">
                            <i class="icon icon ion-edit"></i>
                        </button>
                        <button class="button button-small button-clear button-assertive" ng-click="vm.deleteUser(user)">
                            <i class="icon icon ion-close"></i>
                        </button>
                    </div>
            </div>
            <div class="item item-divider" ng-show="user.showDetails">
               <p>Usuario: {{user.username}}</p>
               <p>Cargo: {{user.role}}</p>
               <p>C.C {{user.cc}}</p>
               <p>Cumpleaños: {{user.birthdate}}</p>
            </div>
        </div>
        <div class="item" ng-show="vm.companyUsers.length === 1">No se ha creado ningún usuario.</div>
     </div>
</ion-content>
</ion-view>