<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary bar-balanced">
        <h1 ng-hide="vm.newUser.isEdit" class="title">Cambiar Contraseña</h1>
        <button class="button button-clear button-light" ng-click="vm.newPass.close()">Volver</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form name="changePasswordForm" ng-submit="vm.submitNewPass(changePasswordForm.$valid)" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nueva Contraseña</span>
                    <input type="password" ng-model="vm.newPass.data.password" required>
                </label>
                <div class="padding-left errorMessage" ng-show="vm.newPass.submitted && !changePasswordForm.$valid">
                    No puedes dejar campos vacíos
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-outline button-royal">Guardar</button>
                </div>
        </form>

    </ion-content>
</div>