<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary bar-balanced">
        <h1 class="title">Agregar Super Administrador</h1>
        <button class="button button-clear button-light" ng-click="vm.newSuperAdmin.close()">Volver</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form name="addSuperAdminForm" ng-submit="vm.submitNewSuperAdmin(addSuperAdminForm.$valid)" novalidate>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombres</span>
                    <input type="text" placeholder="Nombres" ng-model="vm.newSuperAdmin.data.name" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Apellidos</span>
                    <input type="text" placeholder="Apellidos" ng-model="vm.newSuperAdmin.data.lastname" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cédula</span>
                    <input type="number" ng-model="vm.newSuperAdmin.data.cc" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Fecha de Nacimiento</span>
                    <input type="date" ng-model="vm.newSuperAdmin.data.birthdate" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Usuario</span>
                    <input type="text" placeholder="Usuario" ng-model="vm.newSuperAdmin.data.username" required>
                </label>
                <label class="item item-input item-stacked-label" ng-if="!vm.newSuperAdmin.isEdit">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="Contraseña" ng-model="vm.newSuperAdmin.data.password" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Correo Electrónico</span>
                    <input type="text" ng-model="vm.newSuperAdmin.data.mail" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Cargo</span>
                    <input type="text" ng-model="vm.newSuperAdmin.data.role" required>
                </label>
                <div class="padding-left errorMessage" ng-show="vm.newSuperAdmin.submitted && !addSuperAdminForm.$valid">
                    No puedes dejar campos vacíos
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-outline button-royal">Guardar</button>
                </div>
        </form>

    </ion-content>
    
</div>